<!-- Header Section -->
<div class="w3-top">
  <ul class="w3-navbar w3-white w3-card-2">
    <li class="w3-wide">
      <a class="w3-padding-large w3-hover-white" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </li>
    <!-- Float links to the right. Hide them on small screens -->
    <li class="w3-right w3-hide-small">
      {% for page in site.pages %}
        {% if page.title %}
          <a class="w3-padding-large w3-left" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </li>
  </ul>  
</div>