<!-- Header Section -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:2px;">
        <div class="wrapper">
            <a class="w3-bar-item w3-padding-large w3-hover-white w3-large" href="{{ site.baseurl }}/">{{ site.title }}</a>
            <!-- Right-sided navbar links. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                {% for page in site.pages %}
                {% if page.title %}
                <a class="w3-bar-item w3-padding-large w3-left w3-hover-none w3-text-grey w3-hover-text-light-blue" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
